@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: white;
}

/* Personnaliser TextField */
.MuiTextField-root .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #f87171; /* Couleur rose pour la bordure */
}

.MuiTextField-root .MuiInputLabel-outlined.Mui-focused {
  color: #f87171; /* Couleur rose pour le label lorsqu'il est focus */
}

/* Personnalisation des TextField */
.MuiTextField-root {
  /* Couleur de la bordure en état normal */
  border-color: #ff4081;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  /* Couleur de la bordure en état focus */
  border-color: #ff4081;
}

.Mui-error .MuiOutlinedInput-notchedOutline {
  /* Couleur de la bordure en état d'erreur */
  border-color: #f44336;
}

.MuiInputLabel-root.Mui-focused {
  /* Couleur du label en état focus */
  color: #ff4081;
}