@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: white;
}

/* Personnaliser TextField */
.MuiTextField-root .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #f87171; /* Couleur rose pour la bordure */
}

.MuiTextField-root .MuiInputLabel-outlined.Mui-focused {
  color: #f87171; /* Couleur rose pour le label lorsqu'il est focus */
}

